CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# Ignore CMake build directories
build/
out/
bin/

# OS-specific hidden files
.DS_Store
**/.DS_Store
Thumbs.db

# Binaries
*.app
*.exe
*.o
*.obj

# Code
.vscode
.DS_Store
build/Heatmapper.app/Contents/MacOS/Heatmapper
/build/Heatmapper.app
